<!-- views/addProduct.handlebars -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
  </head>
  <body>
    <h1>Add Product</h1>
    <form action="/api/products" method="POST">
      <label for="name">Name:</label><br />
      <input type="text" id="name" name="name" /><br />
      <label for="description">Description:</label><br />
      <textarea id="description" name="description"></textarea><br />
      <label for="price">Price:</label><br />
      <input type="number" id="price" name="price" /><br />
      <label for="stock">Stock:</label><br />
      <input type="number" id="stock" name="stock" /><br />
      <label for="image">Image URL:</label><br />
      <input type="text" id="image" name="image" /><br />
      <label for="category">Category:</label><br />
      <input type="text" id="category" name="category" /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>